input[type="datetime-local"] {
    color-scheme: light;
}

* {
  scrollbar-color: #bbf451 #ecfcca; /* thumb color + track color */
}

@media print {
    html, body {
      display: none; /* hide whole page */
    }
  }

.btn.btn-ghost:focus {
  background-color: transparent;
}

.btn.btn-ghost:active {
  background-color: transparent;
}